form{
    margin-top: 30px;
    width: 55%;
}

fieldset{
    padding: 25px;
    position: relative;
}

.row{
    position: relative;
    display: flex;
    width: 100%;
}

.left{
    width: 15%;
}

.left label{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.right{
    width: 80%;
}

.right input{
    width: 90%;
    height: 30px;
}

input[type=submit]{
    position: relative;
    right: -85%;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid rgb(138, 196, 235);
    border-radius: 4px;
    background: rgb(107, 198, 237);
    color: black;
    height: 30px;
}

input[type=submit]:hover{
    color: white;
}

.error-msg{
    color: red;
    display: inline-block;
    margin-left: 16%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.7em;
}
